li{
    display: inline

}
li{
    display: inline-flexbox;
  justify-content: center;
    
    

}

.primary{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    font-size: large;
}

#about{
    color: brown;
    font-style: italic;
    
}

#contact{
 font-style: oblique;
    color: blue;
    font-size: larger;
}
.resume{
    color: blueviolet;
    font-size: larger;
    font-style: inherit;
}